<!-- <app-sidebar></app-sidebar>
<div class="main-panel">
    <app-navbar></app-navbar>
    <div class="content">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-footer></app-footer>
</div> -->

<div class="wrapper">
    <app-sidebar></app-sidebar>

    <div class="main-panel" id="main-panel">
        <!-- Navbar -->
        <app-navbar></app-navbar>
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <!-- footer -->
        <app-footer></app-footer>
    </div>
</div>